/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

html {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

/* Timer styles */

.timer {
  margin: 32px 0 52px;
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  color: #2e2f42;
  font-size: 40px;
  line-height: 1.2; /* 120% */
  letter-spacing: 1.6px;
  text-align: center;
}
.label {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  text-align: center;
  text-transform: uppercase;
}

input {
  font-family: inherit;
  padding: 8px 16px;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  outline: none;
  margin-right: 8px;
}
input:hover {
  border: 1px solid #000;
}
input:active {
  color: #000;
  border: 1px solid #4e75ff;
}
input:disabled {
  color: #808080;
  background: #f5f5f5;
}

button {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 8px;
  background: #4e75ff;
  padding: 8px 16px;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover {
  background: #6c8cff;
}
button:disabled {
  color: #989898;
  background: #cfcfcf;
}
.flatpickr-calendar {
  background: #f5f5f5;
}

/* promises form */
.form {
  display: flex;
  flex-direction: column;
}
.form label {
  display: flex;
  flex-direction: column;
}
fieldset {
  border: 1px solid #808080;
  border-radius: 6px;
}
legend {
  padding: 0 4px;
}
